name: Build Project

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install OpenCV & Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libopencv-dev cmake g++

    - name: Prepare environment
      run: |
        cd Lab4
        mkdir -p models  # Створюємо порожню папку моделей для успішної конфігурації

    - name: Configure CMake
      run: |
        cd Lab4
        mkdir -p build
        cd build
        cmake ..

    - name: Build
      run: |
        cd Lab4/build
        make
