name: Build Project

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install OpenCV & Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libopencv-dev cmake g++

    - name: Configure and Build
      # Використовуємо один крок для надійності шляхів
      run: |
        ls -R # Це допоможе побачити структуру папок у логах, якщо знову впаде
        cd Lab4
        mkdir -p models
        mkdir -p build
        cd build
        cmake ..
        make
