name: Build Project

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install OpenCV & Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y libopencv-dev cmake g++

    - name: Configure CMake
      run: |
        cd Lab4
        mkdir build
        cd build
        cmake ..

    - name: Build
      run: |
        cd Lab4/build
        make
